body {
  background-color: rgb(253, 251, 251);
  font-family: Pacifico, sans-serif;
}

#cabecalho {
  background-color: rebeccapurple;
  position: fixed;
  top: 0;
  margin: auto;
}

#titulo {
  color: white;
  margin-left: 10px;
}

#minha_foto {
  border-radius: 10px;
  width: 100px;
  margin-top: 100px;

}

.lista {
  color: green;
  font-size: 16px;
  line-height: 25px;
}

.button {
  color: white;
  background-color: purple;
  padding: 2px 10px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

.lado-direito {
  display: inline-block;
  width: 40%;
  text-align: center;
  padding-right: 45px;
  vertical-align: top;
}

.lado-esquerdo {
  display: inline-block;
  width: 40%;
  text-align: center;
  vertical-align: top;
}

.text-conteiner {
  margin: top 150px;
}

#licoes_a_aprender {
  float: right;
  margin-right: 1550px;
}

#licoes_aprendidas {
  float: left;
}
